.icon{
	postion:relative;
	margin-top:100px;
	margin-left:150px;
	margin-bottom:50px;
}

body {
	background-color: white;
}

#loginbox {
	margin-top: 30px;
}

#loginbox > div:first-child {
	padding-bottom: 10px;
}

#form > div {
	margin-bottom: 25px;
}

#form > div:last-child {
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel {
	background-color: transparent;
}

.panel-body {
	padding-top: 30px;
	background-color: rgba(2555,255,255,.3);
}
